textarea, .result {
    font-family: 'Consolas','Courier New', Courier, monospace!important;
}

.result-line>div {
    white-space: pre;
    font-family: 'Consolas','Courier New', Courier, monospace!important;
}